*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* ---------------------- */
/*         HEADER         */
/* ---------------------- */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(ressources/eduford_img/banner.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ---------------------- */
/*         NAVBAR         */
/* ---------------------- */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block; /* as a one horizontal line */
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: tomato;
    display: block;
    margin: auto;
    transition:  0.5s;
}

.nav-links ul li:hover:after {
    width: 100%;
}

/* ---------------------- */
/*         TEXTBOX        */
/* ---------------------- */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* to make it in the center of the div */
    text-align: center;
}

.text-box h1 {
    font-size: 70px;
}

.text-box p {
    font-size: 20px;
    margin: 30px 0 40px;

}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    padding: 14px 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.hero-btn:hover {
    background: tomato;
    border: 1px solid tomato;
    transition: 0.7s;
    
}

.hero-btn::after {
    background: rgba(255, 255, 255, 0.575);
    height: 1px;
    display: block;
    transition: 0.7s;
    display: block;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 100%;
    bottom: 0;
    width: 0;
    z-index: -1;
}

.hero-btn:hover::after {
    width: 15%;
}

.hero-btn:before {
    background: rgba(255, 255, 255, 0.575);
    height: 1px;
    display: block;
    transition: 0.7s;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
}

.hero-btn:hover::before {
    width: 15%;
    left: -15%;
}

.close-icon, .menu-icon {
    display: none;
}

/* ------------------------ */
/* MEDIAQUERY OF the header */
/* ------------------------ */

/* to make the header section responsive */

    @media(max-width: 700px) {
    .header {
        background-attachment: scroll;
    }
    .text-box h1 {
        font-size: 24px;
    }
    
    .text-box p {
        margin-top: 40px;
        font-size: 15px;
    }

    .hero-btn {
        font-size: 12px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: tomato;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; /* how the elements of nav links should be shown */
        transition: 1s;
    }

    .close-icon, .menu-icon {
        margin-top: 25px;
        margin-bottom: 20px;
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 20px;
    }
}

/* ---------------------- */
/*         COURSE         */
/* ---------------------- */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 80px 10%;
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
}

.paragraph {
    color: rgb(129, 128, 128);
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
}

.col-paragraph {
    color: rgb(129, 128, 128);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
}

.col-paragraph {
    text-align: justify;
}

.row {
    margin-top: 5%;
    display: flex; /* to make all the div inside this row into column */
    justify-content: space-between;
}

.course-col {
    flex-basis: 31.5%;
    background: rgba(255, 196, 186, 0.171);
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-family: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* -------------------------------- */
/* MEDIAQUERY OF the course section */
/* -------------------------------- */

@media(max-width: 700px){

    .course {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .course-col {
        margin-bottom: 15%;
    }
    .paragraph,
    .col-paragraph  {
    font-size: 16px;
    }

    h1 {
        margin-bottom: 0px;
        font-size: 25px;
    }
    .row {
        flex-direction: column;
    }
}

/* ---------------------- */
/*         CAMPUS         */
/* ---------------------- */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 70px 10%;
}

.campus-col {
    height: 100%;
    flex-basis: 31.5%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width:100%;
    height:400px;
    object-fit:cover;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(4, 9, 30, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 300;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 45%;
    opacity: 1;
}

/* -------------------------------- */
/* MEDIAQUERY OF the course section */
/* -------------------------------- */

@media(max-width: 700px){
    .campus {
    padding-bottom: 50px;
}
    .campus-col {
        margin-bottom: 40px;
    }
}

/* ---------------------- */
/*       FACILITIES       */
/* ---------------------- */


.facilities h1 {
    padding-bottom: 30px;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 50px;
}

.facilities p {
    margin: auto;
    text-align: center;
}

.facilities {
    width: 80%;
    text-align: center;
    margin: auto;
}

.col {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-basis: 32%;
}

.card {
    height: 350px;
    margin: auto;
    perspective: 1000px;
    cursor: pointer;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back-1, .card-back-2, .card-back-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-position: center;
    background-size: contain;
}

.card-front img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-back-1,
.card-back-2,
.card-back-3 {
    transform: rotateY(180deg);
    color: white;
    font-weight: 300;
}

.card-back-1 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/library.jpeg);
    background-size: cover;
    background-position:center;
}

.card-back-2 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/basketball.jpeg);
    background-size: cover;
    background-position:center;
}

.card-back-3 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/cafeteria.png);
    background-size: cover;
    background-position:center;
}

.card:hover .inner-box{
    transform: rotateY(-180deg);
}

.card-back-1 h3,
.card-back-2 h3,
.card-back-3 h3 {
    display: inline-block;
    color: #fff;
    margin-top: 140px;
}

.card-back-1 p,
.card-back-2 p,
.card-back-3 p {
    display: inline-block;
    color: #fff;
    border: 10px solid transparent;
}

/* ------------------------------------ */
/* MEDIAQUERY OF the facilities section */
/* ------------------------------------ */

@media(max-width: 700px){
    .facilities h1 {
    padding-bottom: 0px;
    
}
    .facilities {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .col { 
        margin-bottom: 20px;
    }
}


/* ---------------------- */
/*      TESTIMONIALS      */
/* ---------------------- */

.testimonials {
    width: 80%;
    margin: 80px 0px auto auto;
    text-align: center;
    border-top: 1px solid rgb(236, 236, 236);
    padding: 70px 10%;
}

.testimonials .row{
    column-gap: 40px; 
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: rgba(255, 196, 186, 0.171);
    padding: 20px 20px 10px 20px;
    cursor: pointer;
    display: flex;
}

.testimonial-col i {
    float: left;
    color: tomato;
    font-size: 13px;
}

.testimonial-col img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    
}

.testimonial-col p {
    color: rgb(129, 128, 128);
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    text-align: justify;
    line-height: 30px;
}

.testimonial-col h3 {
    color: rgb(75, 75, 75);
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

/* ---------------------------------------- */
/* MEDIAQUERY OF the testimonials section */
/* ---------------------------------------- */

@media(max-width: 700px){
    .testimonial-col p {
        font-size: 15px;
    }
}


/* ---------------------- */
/*     CALL TO ACTION     */
/* ---------------------- */

.cta {
    margin-top: 10px;
    margin: auto;
    width: 80%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/banner2.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    line-height: 60px;
}

/* ---------------------------------------- */
/* MEDIAQUERY OF the call to action section */
/* ---------------------------------------- */

@media(max-width: 700px){
    .cta h1{
        font-size: 15px;
        line-height: 30px;
    }
}

/* ------------- */
/*     FOOTER    */
/* ------------- */

.footer {
    margin-top: 80px;
    background: rgba(4, 9, 30, 0.972);
    width: 100%;
    text-align: center;
    padding:  15px 0;
}

.footer p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 30px;
}

.footer h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 600;
}

.icons {
    color: tomato;
    cursor: pointer;
    margin: 30px 0;
    font-size: 20px;
}

.social-icon {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.heart-icon {
    color: tomato;
    margin-bottom: -1px;
    margin-left: 3px;
    margin-right: 3px;
}

/* -------------------------------- */
/* MEDIAQUERY OF the footer section */
/* -------------------------------- */

@media(max-width: 700px){
    .footer h4{
        font-size: 18px;
    }
    .footer p {
        font-size: 13px;
        font-weight: 300;
    }
    .icons {
        font-size: 18px;
    }
    
}

/*------------------------- ABOUT US PAGE -------------------------*/

/* ----------------- */
/*     sub-header    */
/* ----------------- */

.sub-header {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(ressources/eduford_img/background.jpeg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1 {
    margin-top: 150px;
}

/* ------------------------------------ */
/* MEDIAQUERY OF the sub-header section */
/* ------------------------------------ */

@media(max-width: 700px){
    .sub-header {
    height: 100vh;
    }
    .sub-header h1 {
        margin-top: 200px;
    }
}

/* ----------------- */
/*      about-us     */
/* ----------------- */

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-us .row {
    position: relative;
}

.about-col {
    flex-basis: 45%;
    padding: 0px 2px;
}

.about-col img {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding:  0 0 100px;
    text-align: justify;
    line-height: 30px;
}

.red-btn {
    position: absolute;
    bottom: 0;
    border: 1px solid tomato;
    background: transparent;
    color: tomato;
}

.red-btn:hover {
    color: white;
}

/* ---------------------------------- */
/* MEDIAQUERY OF the about-us section */
/* ---------------------------------- */

@media(max-width: 700px){
    .red-btn {
        position: relative;
    }
    .about-col p {
        padding:  20px 0 30px;
    }
    .about-col img {
        width: 0;
    }
}

/* --------------------- */
/*      blog-content     */
/* --------------------- */

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    text-align: justify;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: tomato;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px  solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.red-btn-2 {
    border: 1px solid tomato;
    background: transparent;
    color: tomato;
}

.red-btn-2:hover {
    color: white;
}

.comment-form input,  .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: rgba(163, 167, 199, 0.103);
}

.comment-form button {
    margin: 10px 0;
}

/* -------------------------------------- */
/* MEDIAQUERY OF the blog-content section */
/* -------------------------------------- */

@media(max-width: 700px){
    .blog-left h2 {
        font-size: 18px;
    }
}

/* ------------------- */
/*      contact us     */
/* ------------------- */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    position: relative;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.contact-col span {
    margin-left: 50px;
}

.contact-col h5 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(49, 49, 49);
    font-weight: 400;
    padding: 0;
}

.contact-col p {
    color: rgb(129, 128, 128);
    font-size: 15px;
    padding: 0;
}

.contact-icon {
    position: absolute;
    top: 0;
    font-size: 25px;
    color: tomato;
    margin-right: 30px;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgba(163, 167, 199, 0.103);
    box-sizing: border-box;
}