*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* ---------------------- */
/*         HEADER         */
/* ---------------------- */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(ressources/eduford_img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ---------------------- */
/*         NAVBAR         */
/* ---------------------- */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block; /* as a one horizontal line */
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: tomato;
    display: block;
    margin: auto;
    transition:  0.5s;
}

.nav-links ul li:hover:after {
    width: 100%;
}

/* ---------------------- */
/*         TEXTBOX        */
/* ---------------------- */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* to make it in the center of the div */
    text-align: center;
}

.text-box h1 {
    font-size: 70px;
}

.text-box p {
    font-size: 20px;
    margin: 30px 0 40px;

}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    padding: 14px 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.hero-btn:hover {
    background: tomato;
    border: 1px solid tomato;
    transition: 0.7s;
}

.close-icon, .menu-icon {
    display: none;
}

/* ------------------------ */
/* MEDIAQUERY OF the header */
/* ------------------------ */

/* to make the header section responsive */

    @media(max-width: 700px) {
    
    .text-box h1 {
        font-size: 22px;
    }
    
    .text-box p {
        margin-top: 40px;
        font-size: 12px;
    }

    .hero-btn {
        font-size: 10px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: tomato;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; /* how the elements of nav links should be shown */
        transition: 1s;
    }

    .close-icon, .menu-icon {
        margin-top: 25px;
        margin-bottom: 20px;
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 20px;
    }
}

/* ---------------------- */
/*         COURSE         */
/* ---------------------- */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 80px 10%;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

.paragraph,
.col-paragraph  {
    color: rgb(129, 128, 128);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
}

.col-paragraph {
    text-align: justify;
}

.row {
    margin-top: 5%;
    display: flex; /* to make all the div inside this row into column */
    justify-content: space-between;
}

.course-col {
    flex-basis: 31.5%;
    background: rgba(255, 196, 186, 0.171);
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-family: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* -------------------------------- */
/* MEDIAQUERY OF the course section */
/* -------------------------------- */

@media(max-width: 700px){

    .course {
        padding-top: 80px;
    }
    .course-col {
        margin-bottom: 15%;
    }
    .paragraph,
    .col-paragraph  {
    font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }
    .row {
        flex-direction: column;
    }
}

/* ---------------------- */
/*         CAMPUS         */
/* ---------------------- */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 70px 10%;
}

.campus-col {
    height: 100%;
    flex-basis: 31.5%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width:100%;
    height:400px;
    object-fit:cover;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(4, 9, 30, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 300;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 45%;
    opacity: 1;
}

/* -------------------------------- */
/* MEDIAQUERY OF the course section */
/* -------------------------------- */

@media(max-width: 700px){
    .campus-col {
        margin-bottom: 40px;
    }
    
}

/* ---------------------- */
/*       FACILITIES       */
/* ---------------------- */


.facilities h1 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities p {
    margin: auto;
    text-align: center;
}

.facilities {
    width: 80%;
    text-align: center;
    margin: auto;
}

.col {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-basis: 32%;
}

.card {
    height: 350px;
    margin: auto;
    perspective: 1000px;
    cursor: pointer;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back-1, .card-back-2, .card-back-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-position: center;
    background-size: contain;
}

.card-front img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-back-1,
.card-back-2,
.card-back-3 {
    transform: rotateY(180deg);
    color: white;
    font-weight: 300;
}

.card-back-1 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/library.jpeg);
    background-size: cover;
    background-position:center;
}

.card-back-2 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/basketball.jpeg);
    background-size: cover;
    background-position:center;
}

.card-back-3 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) , url(ressources/eduford_img/cafeteria.png);
    background-size: cover;
    background-position:center;
}

.card:hover .inner-box{
    transform: rotateY(-180deg);
}

.card-back-1 h3,
.card-back-2 h3,
.card-back-3 h3 {
    display: inline-block;
    color: #fff;
    margin-top: 140px;
}

.card-back-1 p,
.card-back-2 p,
.card-back-3 p {
    display: inline-block;
    color: #fff;
    border: 10px solid transparent;
}

/* .facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 70px 10%;
}


.facilities-col img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit:cover;
}

.facilities-col p{
    padding: 0;
    text-align: justify;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}*/

/* ------------------------------------ */
/* MEDIAQUERY OF the facilities section */
/* ------------------------------------ */

@media(max-width: 700px){
    .facilities {
        padding-top: 40px;
    }
    .col { 
        margin-bottom: 20px;
    }
}


/* ---------------------- */
/*      TESTIMONIALS      */
/* ---------------------- */

.testimonials {
    width: 80%;
    margin: 80px auto;
    padding-top: 50px;
    text-align: center;
    border-top: 1px solid rgb(236, 236, 236);
}

.testimonials .row{
    column-gap: 40px;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: rgba(255, 196, 186, 0.171);
    padding: 20px 20px 10px 20px;
    cursor: pointer;
    display: flex;
}

.testimonial-col i {
    float: left;
    color: tomato;
    font-size: 13px;
}

.testimonial-col img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    
}

.testimonial-col p {
    color: rgb(129, 128, 128);
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    text-align: justify;
}

.testimonial-col h3 {
    color: rgb(75, 75, 75);
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

